doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Catalog
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js')
  link(rel='stylesheet', type='text/css' ,href='/scss/styles.css')
  link(rel='stylesheet' ,type='text/css' ,href='/scss/product.css')
header.row
  nav.navbar.navbar-expand-lg.navbar-dark
    .container-fluid
      a.navbar-brand(href='/home') Nerya LLC
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#main_nav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #main_nav.navbar-collapse.collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/catalog')
              i.fa-solid.fa-book
              |  Catalog
          li.nav-item
            a.nav-link(href='/contact')
              i.fa-solid.fa-envelope
              |  Contact
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href='/signin')
              i.fa-solid.fa-user
              |  Log In / Register
main#products.container-fluid
  div
    h1 All Products
    nav.nav(aria-label='Page navigation example')
      ul.pagination
        li.page-item
          button.page-link(type='button' v-if='page != 1' @click='page--')
            | Previous
        li.page-item
          button.page-link(type='button' v-for='pageNumber in pages' @click='page = pageNumber')
            | {{pageNumber}}
        li.page-item
          button.page-link(type='button' @click='page++' v-if='page < pages.length')
            | Next
    .container-fuild.cartItem
      button.btn.btn-primary(@click='showCart = !showCart' v-show='!verified')
        | {{ items.length + (items.length &gt; 1 || items.length === 0 ? &quot; items&quot;
        | : &quot; item&quot;) }}
    .cart(v-show='showCart')
      div(v-show='items.length > 0')
        ul(style='list-style-type: none')
          h5 View Cart
          li(v-for='item in items' transition='fade')
            p
              strong {{ item.quantity }}
              |  - {{ item.itemName }}
              i.fa.fa-trash(@click='removeFromCart(item)')
        button.btn.btn-primary(@click='verified = true, showCart = false')
          | Check out
      div(v-show='items.length === 0')
        p Your cart is empty!
    .checkout(v-show='verified')
      h3 Your Cart
      h5(v-for='item in items')
        strong  {{ item.quantity }}
        |  - {{ item.itemName }}
        span $ {{ item.caseCost * item.quantity | currency }}
      hr
      .row
        .u-pull-right
          h5
            | Total: 
            span {{ total | currency }}
      button.btn.btn-warning(@click='showCart = false, verified = !verified')
        | Back
    #catalogCard(v-show='!verified')
      h5 Click the on Product to Add to Cart!
      product-catalog(v-for='item in displayedPosts' :index='index' track-by='$index' :key='item.id' v-bind:catalog-items='item' @click='addToCart(item)')
script(src='./js/catalog.js')
